#wizardList a {
		font-size: 15px;
}

#menteeList a, #projectList a {
		font-size: 12px;
}

#menteeList {
		margin-left: 20px;
}
#projectList {
		margin-left: 20px;
}
#projectList div {
		font-size: 13px;
		color: 999;
		font-weight: bold;
}

#logoutContainer {
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding-left: 370px;
    padding-top: 38px;
}

#logoutContainer a {
	color: #fff;
}
